@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

:root {
	--site1-primary-color: #a7202b;
	--site1-primary-shadow-color: #690512;
	--site1-secondary-color: #2bb4c9;
	--site1-secondary-shadow-color: #1389a4;
	--site1-background-color: white;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: var(--site1-primary-color);
	font-size: 16px;
	font-weight: 500;
	font-family: 'Roboto Mono', monospace;
}

.site1 {
	background: var(--site1-background-color);
	display: flex;
}

.site1 header {
	position: sticky;
	width: 20rem;
	height: 100vh;
	background: var(--site1-primary-color);
}

.site1 main {
	width: 100vw;
	height: 100vh;
}

.site1 .navbar {
	display: flex;
	position: relative;
	height: 100vh;
	padding-top: 2rem;
	flex-direction: column;
	align-items: center;
}

.site1 .logo img {
	max-width: 12rem;
	background: white;
	border: 0.5rem solid white;
	border-radius: 500px;
	box-shadow: 10px 10px 10px var(--site1-primary-shadow-color);
}

.site1 .navbar li {
	padding: 1rem 0;
}

.site1 .navbar a {
	font-size: 1.5rem;
}

.site1 .navbar-button-static, .navbar-button-animated {
	display: inline-block;
	position: relative;
	height: 3rem;
	max-width: 19rem;
	background: white;
	border-radius: 3rem;
	box-shadow: 10px 10px 10px var(--site1-primary-shadow-color);
	overflow: hidden;
	padding-left: 0.5rem;
	padding-right: 1rem;
	user-select: none;
}

.site1 .navbar-button-animated {
	max-width: 3rem;
	background: white;
	padding: 0;
	transition: max-width 0.4s ease-out, padding 0.4s;
}

.site1 .navbar-button-animated:hover {
	max-width: 19rem;
	padding-left: 0.5rem;
	padding-right: 1rem;
	transition: max-width 0.4s ease-out, padding 0.1s;
}

.site1 .navbar-button-icon {
	display: inline-block;
	height: 3rem;
	width: 3rem;
	text-align: center;
	vertical-align: middle;
}

.site1 .navbar-button-icon i {
	font-size: 2rem;
	line-height: 3rem;
}

.site1 .navbar-button-static span, .navbar-button-animated span {
	font-size: 1.5rem;
	vertical-align: middle;
}

h1 {
	font-size: 4rem;
}

h1 i {
	font-size: 4rem;
	margin-right: 1rem;
}

/* .site1 .home-left h1 {
	font-size: 6rem;
	font-weight: 700;
} */

.site1 .home-contact-button {
	padding: 0.75rem 1.5rem;
	color: white;
	background: var(--site1-secondary-color);
	border-radius: 3rem;
	box-shadow: 10px 10px 10px var(--site1-secondary-shadow-color);
	cursor: pointer;
	user-select: none;
}