@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-family: 'Roboto Mono', monospace;
}

.site1 {
	background: white;
	display: flex;
}

.site1 header {
	position: fixed;
	width: 18rem;
	height: 100vh;
}

.site1 main {
	position: relative;
	margin-left: 18rem;
}

.site1 .navbar {
	display: flex;
	position: relative;
	height: 100vh;
	padding-top: 2rem;
	flex-direction: column;
	align-items: center;
}

.site1 .logo img {
	max-width: 12rem;
	background: black;
	border: 0.75rem solid black;
	border-radius: 500px;
}

.site1 .navbar li {
	padding: 1.5rem 0;
}

.site1 .navbar a {
	font-size: 1.5rem;
}

h1 {
	font-size: 4rem;
}